.button1{
    
        font: inherit;
        border: 1px solid #4F005F;
        background: #4F005F;
        color: white;
        padding: 0.25rem 1rem;
        cursor: pointer;
        margin: 10px;
    
}